
.navbar-base {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--accent-color-2);
    border-radius: 5px;
    padding: 1rem 2rem
}
